<p>Nombre: <%= weather_data["location"]["name"] %></p>
<p>Temperatura: <%= weather_data["current"]["temp_c"] %>°C</p>
<p>Latitud: <%= weather_data["location"]["lat"] %></p>
<p>Longitud: <%= weather_data["location"]["lon"] %></p>

------------------
Últimas búsquedas:
------------------
<% user_searches.each do |search| %>
  <p><%= search.iata_code %> - <%= search.created_at %></p>
<% end %>

